body{
  background: linear-gradient(100deg,#2A2A2A, #D4D4D4, #B3B3B3, #2B2B2B);
}
.App {
  text-align: center;
  background-color: aquamarine;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 100deg, */
 /* */
