body{
  background: linear-gradient(100deg,#353434, #4d5260, #707b7f, #91a6aa);
  z-index: 1;
}
.App {
  text-align: center;
  background-color: aquamarine;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 100deg, */
 /* */
